In [2]:
import fastf1

In [3]:
# session = fastf1.get_session(2024, 'SÃ£o Paulo Grand Prix', 'R')
session = fastf1.get_session(2024, 'Saudi Arabian Grand Prix', 'R')

req         WARNING 	DEFAULT CACHE ENABLED! (101.87 MB) /Users/seansica/Library/Caches/fastf1

In [4]:
session.load()

core           INFO 	Loading data for Saudi Arabian Grand Prix - Race [v3.5.3]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '16', '81', '14', '63', '38', '4', '44', '27', '23', '20', '31', '2', '22', '3', '77', '24', '18', '10']

In [5]:
session.get_circuit_info().marshal_lights

              X             Y  Number Letter       Angle     Distance
0  -1291.000004    216.000097       1        -158.979079  6100.698213
1  -2537.846699   3956.515829       2          15.229728   388.053394
2  -3401.121493   5738.370319       3         -13.270785   628.917504
3  -3624.587265   8839.184186       4           3.364503   938.334674
4  -4597.691801  10309.212952       5           4.005263  1150.448414
5  -4785.041071  12803.027227       6        -123.405456  1407.373544
6  -3874.724457  15686.481246       7          -9.543217  1749.989998
7  -3556.468928  20484.471647       8           5.112440  2236.940593
8  -4754.602197  20501.212821       9          16.072863  2557.743380
9  -4242.566545  17649.376805      10         -17.962137  2865.763366
10 -5789.441133  14647.196543      11        -182.204630  3207.048451
11 -5100.740512  11780.818323      12          13.963294  3496.111973
12 -4780.882008   9421.066409      13        -162.102760  3760.026717
13 -3857.310673   5516.638750      14        -188.689469  4167.983654
14 -3141.162647   3653.933995      15          11.840849  4385.400064
15 -3432.620534   1989.437130      16        -207.047550  4556.512373
16 -4048.397724   -530.781387      17        -172.114747  4820.327365
17 -2825.140160  -3681.478298      18          42.751402  5170.791844
18 -1027.189409  -5240.259423      19        -125.589514  5400.947054
19   -33.327868  -4863.852923      20          14.846846  5575.291013
20  -480.624473  -2790.741222      21          13.537264  5793.798960

In [6]:
session.get_circuit_info().corners

              X             Y  Number Letter       Angle     Distance
0  -2908.523056   4757.490498       1          69.136629   481.188089
1  -3463.171720   4834.551790       2          40.811417   537.179965
2  -3333.324770   6205.801601       3          -3.557132   690.158196
3  -3726.875378   9192.730297       4          47.148852   993.001772
4  -4503.338061   9863.121848       5          22.803467  1094.773379
5  -4285.277170  11311.588157       6         -17.739135  1241.799145
6  -4405.375789  12447.507360       7          22.025440  1355.308140
7  -4926.652429  12948.264922       8          28.393642  1424.050542
8  -4851.685766  14451.239276       9         141.246600  1572.992993
9  -4049.885092  15075.214008      10         -33.919414  1688.255570
10 -3793.615593  16049.942226      11         -14.634055  1798.892257
11 -3573.734876  16904.965130      12          -9.142795  1895.412687
12 -4317.586219  21791.136106      13         102.440558  2403.250961
13 -4128.693808  18964.562669      14        -173.052775  2730.795717
14 -4524.771575  16996.493881      15        -204.528010  2918.751339
15 -4900.214677  15776.132943      16         140.970194  3057.831363
16 -5687.898928  15233.132055      17        -210.229800  3156.708435
17 -5575.506518  13034.768133      18        -160.331381  3383.597605
18 -4995.647738  11155.102955      19        -175.763767  3569.587577
19 -4663.182730   9118.431623      20        -156.836530  3798.679640
20 -3883.815485   7285.573384      21        -171.251287  3994.669285
21 -3912.876567   4866.397795      22        -168.837786  4234.007505
22 -3409.812557   4155.133315      23        -134.080950  4317.256638
23 -3104.125427   2806.184304      24        -188.771637  4470.820414
24 -4073.934795     93.774474      25        -183.330712  4760.846349
25 -3097.992407  -3343.273850      26        -144.714994  5115.550654
26  -126.002035  -5554.263009      27         -50.147756  5501.036909

In [32]:
session.results

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,...,CountryCode,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points
33,33,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,0600EF,red_bull,Max,Verstappen,Max Verstappen,...,,1.0,,NaN,0 days 00:01:30.499000,0 days 00:01:30.318000,0 days 00:01:28.997000,NaT,,NaN
44,44,L HAMILTON,HAM,hamilton,Mercedes,00D2BE,mercedes,Lewis,Hamilton,Lewis Hamilton,...,,2.0,,NaN,0 days 00:01:30.617000,0 days 00:01:30.085000,0 days 00:01:29.385000,NaT,,NaN
77,77,V BOTTAS,BOT,bottas,Mercedes,00D2BE,mercedes,Valtteri,Bottas,Valtteri Bottas,...,,3.0,,NaN,0 days 00:01:31.200000,0 days 00:01:30.186000,0 days 00:01:29.586000,NaT,,NaN
16,16,C LECLERC,LEC,leclerc,Ferrari,DC0004,ferrari,Charles,Leclerc,Charles Leclerc,...,,4.0,,NaN,0 days 00:01:30.691000,0 days 00:01:30.010000,0 days 00:01:29.678000,NaT,,NaN
10,10,P GASLY,GAS,gasly,AlphaTauri,2B4562,alphatauri,Pierre,Gasly,Pierre Gasly,...,,5.0,,NaN,0 days 00:01:30.848000,0 days 00:01:30.513000,0 days 00:01:29.809000,NaT,,NaN
3,3,D RICCIARDO,RIC,ricciardo,McLaren,FF9800,mclaren,Daniel,Ricciardo,Daniel Ricciardo,...,,6.0,,NaN,0 days 00:01:30.795000,0 days 00:01:30.222000,0 days 00:01:29.927000,NaT,,NaN
4,4,L NORRIS,NOR,norris,McLaren,FF9800,mclaren,Lando,Norris,Lando Norris,...,,7.0,,NaN,0 days 00:01:30.902000,0 days 00:01:30.099000,0 days 00:01:29.974000,NaT,,NaN
55,55,C SAINZ,SAI,sainz,Ferrari,DC0004,ferrari,Carlos,Sainz,Carlos Sainz,...,,8.0,,NaN,0 days 00:01:31.653000,0 days 00:01:30.009000,0 days 00:01:30.215000,NaT,,NaN
14,14,F ALONSO,ALO,alonso,Alpine,0090FF,alpine,Fernando,Alonso,Fernando Alonso,...,,9.0,,NaN,0 days 00:01:30.863000,0 days 00:01:30.595000,0 days 00:01:30.249000,NaT,,NaN
18,18,L STROLL,STR,stroll,Aston Martin,006F62,aston_martin,Lance,Stroll,Lance Stroll,...,,10.0,,NaN,0 days 00:01:31.261000,0 days 00:01:30.624000,0 days 00:01:30.601000,NaT,,NaN
11,11,S PEREZ,PER,perez,Red Bull Racing,0600EF,red_bull,Sergio,Perez,Sergio Perez,...,,11.0,,NaN,0 days 00:01:31.165000,0 days 00:01:30.659000,NaT,NaT,,NaN
99,99,A GIOVINAZZI,GIO,giovinazzi,Alfa Romeo Racing,900000,alfa,Antonio,Giovinazzi,Antonio Giovinazzi,...,,12.0,,NaN,0 days 00:01:30.998000,0 days 00:01:30.708000,NaT,NaT,,NaN
22,22,Y TSUNODA,TSU,tsunoda,AlphaTauri,2B4562,alphatauri,Yuki,Tsunoda,Yuki Tsunoda,...,,13.0,,NaN,0 days 00:01:30.607000,0 days 00:01:31.203000,NaT,NaT,,NaN
7,7,K RAIKKONEN,RAI,raikkonen,Alfa Romeo Racing,900000,alfa,Kimi,RÃ¤ikkÃ¶nen,Kimi RÃ¤ikkÃ¶nen,...,,14.0,,NaN,0 days 00:01:31.547000,0 days 00:01:31.238000,NaT,NaT,,NaN
63,63,G RUSSELL,RUS,russell,Williams,005AFF,williams,George,Russell,George Russell,...,,15.0,,NaN,0 days 00:01:31.316000,0 days 00:01:33.430000,NaT,NaT,,NaN
31,31,E OCON,OCO,ocon,Alpine,0090FF,alpine,Esteban,Ocon,Esteban Ocon,...,,16.0,,NaN,0 days 00:01:31.724000,NaT,NaT,NaT,,NaN
6,6,N LATIFI,LAT,latifi,Williams,005AFF,williams,Nicholas,Latifi,Nicholas Latifi,...,,17.0,,NaN,0 days 00:01:31.936000,NaT,NaT,NaT,,NaN
5,5,S VETTEL,VET,vettel,Aston Martin,006F62,aston_martin,Sebastian,Vettel,Sebastian Vettel,...,,18.0,,NaN,0 days 00:01:32.056000,NaT,NaT,NaT,,NaN
47,47,M SCHUMACHER,MSC,mick_schumacher,Haas F1 Team,FFFFFF,haas,Mick,Schumacher,Mick Schumacher,...,,19.0,,NaN,0 days 00:01:32.449000,NaT,NaT,NaT,,NaN
9,9,N MAZEPIN,MAZ,mazepin,Haas F1 Team,FFFFFF,haas,Nikita,Mazepin,Nikita Mazepin,...,,20.0,,NaN,0 days 00:01:33.273000,NaT,NaT,NaT,,NaN

In [55]:
session.track_status

                     Time Status      Message
0         0 days 00:00:00      1     AllClear
1  0 days 00:52:58.758000      2       Yellow
2  0 days 00:58:32.359000      1     AllClear
3  0 days 01:13:10.258000      2       Yellow
4  0 days 01:13:19.484000      1     AllClear
5  0 days 01:17:25.352000      2       Yellow
6  0 days 01:17:28.803000      1     AllClear
7  0 days 01:27:37.971000      2       Yellow
8  0 days 01:27:48.625000      1     AllClear
9  0 days 01:47:45.888000      2       Yellow
10 0 days 01:47:49.810000      1     AllClear
11 0 days 01:49:38.987000      2       Yellow
12 0 days 01:50:18.848000      6  VSCDeployed
13 0 days 01:51:47.994000      7    VSCEnding
14 0 days 01:52:01.710000      1     AllClear
15 0 days 01:54:50.200000      4   SCDeployed
16 0 days 01:59:19.333000      5          Red
17 0 days 02:23:12.325000      1     AllClear
18 0 days 02:26:20.605000      2       Yellow
19 0 days 02:26:38.296000      1     AllClear
20 0 days 02:30:40.572000      2       Yellow
21 0 days 02:30:58.358000      1     AllClear
22 0 days 02:32:55.981000      2       Yellow
23 0 days 02:33:04.122000      1     AllClear
24 0 days 02:35:08.379000      2       Yellow
25 0 days 02:35:12.045000      4   SCDeployed
26 0 days 02:41:26.301000      1     AllClear
27 0 days 02:43:14.900000      2       Yellow
28 0 days 02:43:36.771000      1     AllClear
29 0 days 02:54:27.095000      2       Yellow
30 0 days 02:54:32.696000      1     AllClear

In [42]:
laps = session.laps

laps_ver = laps[laps['Driver']=='VER']

laps_ver.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:24:04.661000,VER,33,NaT,1.0,1.0,0 days 00:21:18.434000,NaT,NaT,0 days 00:01:24.332000,...,True,Red Bull Racing,0 days 00:21:18.434000,2021-03-27 15:06:18.819,1,NaN,False,,False,False
1,0 days 00:25:35.160000,VER,33,0 days 00:01:30.499000,2.0,1.0,NaT,NaT,0 days 00:00:28.807000,0 days 00:00:38.980000,...,True,Red Bull Racing,0 days 00:24:04.661000,2021-03-27 15:09:05.046,1,NaN,False,,False,True
2,0 days 00:27:25.520000,VER,33,0 days 00:01:50.360000,3.0,1.0,NaT,0 days 00:27:23.844000,0 days 00:00:34.462000,0 days 00:00:43.825000,...,True,Red Bull Racing,0 days 00:25:35.160000,2021-03-27 15:10:35.545,1,NaN,False,,False,False
3,0 days 00:44:22.361000,VER,33,NaT,4.0,2.0,0 days 00:42:21.384000,NaT,NaT,0 days 00:00:54.163000,...,True,Red Bull Racing,0 days 00:27:25.520000,2021-03-27 15:12:25.905,12,NaN,False,,False,False
4,0 days 00:45:52.679000,VER,33,0 days 00:01:30.318000,5.0,2.0,NaT,NaT,0 days 00:00:28.964000,0 days 00:00:38.858000,...,True,Red Bull Racing,0 days 00:44:22.361000,2021-03-27 15:29:22.746,1,NaN,False,,False,True

In [46]:
laps_ver_telemetry = laps_ver.get_telemetry()

display(laps_ver_telemetry.head())
display(len(laps_ver_telemetry))

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z
2,2021-03-27 15:06:18.819,0 days 00:21:18.434000,,102.952222,0 days 00:00:00,7386.00,81.600000,2,27.4,False,8,interpolation,0.081425,0.000001,OnTrack,-70.458844,4900.065942,-2.105704e-12
3,2021-03-27 15:06:18.867,0 days 00:21:18.482000,,102.952222,0 days 00:00:00.048000,7455.00,82.000000,2,25.0,False,8,car,1.200000,0.000015,OnTrack,-70.036348,4910.957279,-2.332428e-12
4,2021-03-27 15:06:18.963,0 days 00:21:18.578000,,102.952222,0 days 00:00:00.144000,7603.80,83.714286,2,27.4,False,8,pos,3.474890,0.000043,OnTrack,-69.000000,4933.000000,0.000000e+00
5,2021-03-27 15:06:19.147,0 days 00:21:18.762000,18,102.952222,0 days 00:00:00.328000,7889.00,87.000000,2,32.0,False,8,car,7.966667,0.000099,OnTrack,-66.455102,4976.299140,5.981538e-12
6,2021-03-27 15:06:19.183,0 days 00:21:18.798000,18,103.142222,0 days 00:00:00.364000,7975.85,87.750000,2,33.5,False,8,pos,8.863560,0.000110,OnTrack,-66.000000,4985.000000,0.000000e+00

29451

In [49]:
laps_ver.iloc[0].get_car_data()

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2021-03-27 15:06:18.867,7455.0,82.0,2,25.0,False,8,car,0 days 00:00:00.048000,0 days 00:21:18.482000
1,2021-03-27 15:06:19.147,7889.0,87.0,2,32.0,False,8,car,0 days 00:00:00.328000,0 days 00:21:18.762000
2,2021-03-27 15:06:19.387,8468.0,92.0,2,42.0,False,8,car,0 days 00:00:00.568000,0 days 00:21:19.002000
3,2021-03-27 15:06:19.627,8970.0,100.0,2,47.0,False,8,car,0 days 00:00:00.808000,0 days 00:21:19.242000
4,2021-03-27 15:06:19.867,9652.0,106.0,2,52.0,False,8,car,0 days 00:00:01.048000,0 days 00:21:19.482000
...,...,...,...,...,...,...,...,...,...,...
685,2021-03-27 15:09:03.947,11463.0,284.0,7,100.0,False,12,car,0 days 00:02:45.128000,0 days 00:24:03.562000
686,2021-03-27 15:09:04.187,11637.0,289.0,7,100.0,False,12,car,0 days 00:02:45.368000,0 days 00:24:03.802000
687,2021-03-27 15:09:04.427,11752.0,293.0,7,100.0,False,12,car,0 days 00:02:45.608000,0 days 00:24:04.042000
688,2021-03-27 15:09:04.667,11159.0,295.0,7,100.0,False,12,car,0 days 00:02:45.848000,0 days 00:24:04.282000
689,2021-03-27 15:09:04.907,10748.0,297.0,8,100.0,False,12,car,0 days 00:02:46.088000,0 days 00:24:04.522000

In [50]:
laps_ver.iloc[1].get_car_data()

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2021-03-27 15:09:05.147,10778.0,299.0,8,100.0,False,12,car,0 days 00:00:00.101000,0 days 00:24:04.762000
1,2021-03-27 15:09:05.387,10843.0,301.0,8,100.0,False,12,car,0 days 00:00:00.341000,0 days 00:24:05.002000
2,2021-03-27 15:09:05.667,11056.0,304.0,8,100.0,False,12,car,0 days 00:00:00.621000,0 days 00:24:05.282000
3,2021-03-27 15:09:05.907,11076.0,305.0,8,100.0,False,12,car,0 days 00:00:00.861000,0 days 00:24:05.522000
4,2021-03-27 15:09:06.147,11100.0,307.0,8,100.0,False,12,car,0 days 00:00:01.101000,0 days 00:24:05.762000
...,...,...,...,...,...,...,...,...,...,...
371,2021-03-27 15:10:34.467,11466.0,284.0,7,100.0,False,12,car,0 days 00:01:29.421000,0 days 00:25:34.082000
372,2021-03-27 15:10:34.707,11482.0,285.0,7,100.0,False,12,car,0 days 00:01:29.661000,0 days 00:25:34.322000
373,2021-03-27 15:10:34.946,11587.0,289.0,7,100.0,False,12,car,0 days 00:01:29.900000,0 days 00:25:34.561000
374,2021-03-27 15:10:35.147,11640.0,290.0,7,100.0,False,12,car,0 days 00:01:30.101000,0 days 00:25:34.762000
375,2021-03-27 15:10:35.387,11817.0,292.0,7,100.0,False,12,car,0 days 00:01:30.341000,0 days 00:25:35.002000

In [51]:
laps_ver.iloc[1].get_pos_data()

,Date,Status,X,Y,Z,Source,Time,SessionTime
0,2021-03-27 15:09:05.224,OnTrack,-377.0,1348.0,-159.0,pos,0 days 00:00:00.178000,0 days 00:24:04.839000
1,2021-03-27 15:09:05.444,OnTrack,-368.0,1532.0,-158.0,pos,0 days 00:00:00.398000,0 days 00:24:05.059000
2,2021-03-27 15:09:05.664,OnTrack,-360.0,1716.0,-159.0,pos,0 days 00:00:00.618000,0 days 00:24:05.279000
3,2021-03-27 15:09:05.884,OnTrack,-351.0,1902.0,-159.0,pos,0 days 00:00:00.838000,0 days 00:24:05.499000
4,2021-03-27 15:09:06.104,OnTrack,-344.0,2088.0,-159.0,pos,0 days 00:00:01.058000,0 days 00:24:05.719000
...,...,...,...,...,...,...,...,...
407,2021-03-27 15:10:34.503,OnTrack,-425.0,390.0,-159.0,pos,0 days 00:01:29.457000,0 days 00:25:34.118000
408,2021-03-27 15:10:34.723,OnTrack,-416.0,564.0,-159.0,pos,0 days 00:01:29.677000,0 days 00:25:34.338000
409,2021-03-27 15:10:34.943,OnTrack,-407.0,740.0,-159.0,pos,0 days 00:01:29.897000,0 days 00:25:34.558000
410,2021-03-27 15:10:35.163,OnTrack,-399.0,895.0,-159.0,pos,0 days 00:01:30.117000,0 days 00:25:34.778000
411,2021-03-27 15:10:35.383,OnTrack,-390.0,1074.0,-159.0,pos,0 days 00:01:30.337000,0 days 00:25:34.998000

In [7]:
session.track_status

                    Time Status     Message
0        0 days 00:00:00      2      Yellow
1 0 days 00:08:45.692000      1    AllClear
2 0 days 01:09:15.917000      2      Yellow
3 0 days 01:09:49.924000      4  SCDeployed
4 0 days 01:16:35.527000      1    AllClear